/*--Google Fonts--*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-- Variables--*/

:root {    
--international-orange-engineering: hsl(1, 91%, 37%);
--cadet-blue-creyola: hsl(222, 14%, 69%);
--oxford-blue-1: hsl(222, 47%, 15%);
--oxford-blue-2: hsl(222, 44%, 14%);
--oxford-blue-3: hsl(222, 50%, 11%);
--sonic-silver: hsl(0, 0%, 44%);
--space-cadet: hsl(222, 44%, 18%);
--pastel-pink: hsl(1, 53%, 75%);
--eerie-black: hsl(0, 0%, 15%);
--light-gray: hsl(0, 0%, 80%);
--white: hsl(0, 0%, 100%);
}

:root {
  --primary-color: #da042a;
  --primary-color-dark: #c00427;
  --secondary-color: hsl(222, 44%, 18%);
  --secondary-color-dark:  hsl(222, 44%, 14%);
  --text-light: #6b7280;
  --extra-light: #f8f7fd;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 1rem 3rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--secondary-color-dark);
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

.logo img {
  max-width: 80px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3F3F3;
}

.header {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/img/garage_parrot.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  z-index: 9;
}
.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--secondary-color-dark);
}

.nav__menu__btn {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
  background-color: var(--secondary-color-dark);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;

}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--white);
}

.header__content {
  max-width: 600px;
  padding: 10px 1px 3px 1px;
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--white);
}

/*--Services---*/

.sections {
  margin: 10px 0 0;
  padding: 20px 20px 40px;
}
.sections-title {
  text-align: center;
  margin: 100px 0 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 1.4rem;
  position:relative;
  text-decoration: underline 3px solid var(--primary-color);
}
.sections-description {
  max-width: var(--max-width);
  font-size: 1rem;
  font-weight: 400;
  margin:50px auto;
  padding:20px;
}

.service-banner {
  display: none;
  
}
.service { 
 text-align: center;
}

.service-list {
  gap: 0;
  margin-block-end: 40px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  max-width: var(--max-width);
  font-size: 1rem;
  font-weight: 400;
  margin:20px auto;
  padding:20px;
}
.service-card h3 {
  text-align: center;
  color: var(--secondary-color);
}
/*--Group voitures--*/

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}
.group-item {
    min-width: 100%;
    scroll-snap-align: start;
}
.group::-webkit-scrollbar { 
  height: 16px; 
}

.voitures_group .container{
  padding-inline: 0;
}


.item-card { position: relative; }

.item-card .card-content {
  background-color: var(--white);
  max-width: 90%;
  padding: 30px 20px;
  margin-block-start: -60px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}
.item-card .card-title { margin-block-end: 10px;
  text-transform: uppercase;
 }

.voitures_group .btn-v {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  max-width: max-content;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-inline: auto;
}

/*--Avis--*/
.testimonial{
  background-color: var(--extra-light);

}
.sections-soubtitle{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-color-dark);
  font-size: 1.2rem;
  position:relative; 
}

.testimonial__container {
  text-align: center;
}
.swiper-wrapper {
  padding: 20px;
}
.swiper {
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.testimonial__card {
  max-width: 600px;
  margin: auto;
}

.testimonial__card img {
  max-width: 100px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card p {
  margin-bottom: 1rem;
  color: var(--secondary-color-dark);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

/*--Contact--*/


.contact-sections {
  background-color: var(--light-gray);
  padding:20px;
}

.contact form {
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--white);
  padding: 20px 10px 40px;
  width: 100%;
  margin: 0 auto 40px;
  border-radius: 15px;
  max-width: var(--max-wrapper);
  position: relative;
}


.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form-left,
.form-right {
  width: 100%;
}
.col {
  margin-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  display: inline-block;
}

.contact-form textarea {
  resize: none;
  height: 150px;
  padding:10px;
}


.contact-form input {
  height: 2rem;
  padding: 0 10px;
}

.btn-v {
   padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  max-width: max-content;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-inline: auto;
}

.hide{
  display:none;
}
/*--Responsivz--*/

@media (min-width: 575px) {


  /*--Services--*/
    .service .sections-title { margin-block-end: 30px;
   }

  .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block-end: 40px;
  }

  /*--Voitures group--*/

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
}
  .group-item {
    min-width: calc(50% - 15px);
    scroll-snap-align: start;
}

}
@media (min-width: 768px) {

   .logo img {
    max-width: 100px;
  }
  /*--Header--*/

    nav {
    padding: 2rem 1rem;;  
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }

   ul li {
    font-weight: 600;
  }
  .header {
    padding-top: 0;
  }

  .section__container {
    padding: 5rem;
  }
  .header__content h1 {
    font-size: 2.5rem;
  }

  /*--Services--*/
    .service-banner {
    display: block;
    position: relative;
  }

  .service-list { grid-template-columns: repeat(3, 1fr); }

  .service-banner img {
    position: absolute;
    top: 0;
    left: -25%;
    margin-block-start: 15%;
    width: 150%;
    transform-origin: top;
  }

  /*--Voitures group--*/

  .container {
    max-width: 720px;
  }
  .group{
    display: flex;
    padding-block-end: 20px;
  }
}

@media (min-width: 992px ){

  /*--Header--*/

  .section__container {
    padding: 5rem;
  }
  ul li {
    font-weight: 600;
  }
    /*--Services--*/
    .sections-title {
      font-weight: 500;
    }
  .service-card .card-text {
    padding-inline: 25px;
    line-height: 1.45;
    margin-block-end: 15px;
  }

  .service-list li:nth-child(-2n+3) { margin-block-start: 90px; }

  .service-list li:nth-child(4) { margin-inline-end: 60px; }

  .service-list li:nth-child(6) { margin-inline-start: 60px; }

  .service-banner img {
    left: -55%;
    margin-block-start: -30%;
    width: 210%;
  }


  /*--Voitures group--*/

  .container {
    max-width: 960px;
  }
  
  .group { overflow-x: visible; }

  .group-item { min-width: calc(33.33% - 20px); }

  /*--Contact--*/

   .contact-sections {
    padding:20px 60px;
  }

  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 70px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact {
    padding: 40px;
  }

  .contact-form-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  .contact-form-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-left,
  .contact-form-right {
    width: 48%;
  }
   

}



@media (min-width: 1200px) {

  /*--Header--*/
   .logo img {
    max-width: 150px;
  }


  .btn {
    font-size: 1.3rem;
  }
  .section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 2rem;
}
  .header__content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  color: var(--white);
}

  /*--Services--*/

  .sections-title {
    font-weight: 600;
  }
  .service-list { margin-block-end: 70px; }

  .service-list li:nth-child(2) .card-text {
    padding-inline: 50px;
  }

  .service-list li:nth-child(-2n+3) {
    margin-block-start: 110px;
  }

  .service-list li:is(:nth-child(1), :nth-child(6)) {
    margin-inline-start: 75px;
  }

  .service-list li:is(:nth-child(3), :nth-child(4)) {
    margin-inline-end: 75px;
  }

  .service-banner img {
    width: max-content;
    left: -41%;
  }

  /*Voitures group--*/
  .container {
    max-width: 1140px;
  }

}

@media (min-width: 1400px) {

  /*--Header--*/

  .nav__links {
    font-size: 1.5rem;
    
  }
  ul li {
    font-weight: 600;
  }
  .btn {
    font-size: 1.3rem;
  }
  .section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 2rem;
}
  .header__content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--white);
}
  .service-banner{
    width: max-content;
    align-items: center;
  }

  .service-card{
    margin-left: 50px;
    margin-right: 50px;
  }
  .sections-title{
    font-size: 2rem;
    font-weight: 700;
  }
  .sections-description {
    font-size: 1.5rem;
  }
  .service-card .h3 {
    font-size: 1.7rem;
  }
  .service-card .card-text{
    font-size: 1.3rem;
  }

  /*Voitures group--*/

}